
.app-cont {
  margin:0;
  font-family: Georgia, 'Times New Roman', Times, serif;
  background-color: rgb(122, 213, 233);
}
.nav-cont{
  background-color: rgb(238, 255, 0);
  display:flex;
  text-decoration: underline;
}
.nav-but{
  margin-left: 200px;
  padding:50px
}
.nav-cont>h1{
  margin-left: 20px;
}
.nav-cont>img{
  height: 100px;
}
.nav-cont>h1>span{
  color:crimson;
  text-decoration: overline;
}
.head-cont{
  margin-top:50px

   
  
}
.head-cont>h1{
  text-align: center;
}
.head-cont>p{
  font-size: x-large;
  margin:10px;
  background-color:rgb(89, 132, 141);
}

.sub-head-cont{
  display:flex;
  
}

.child-sub-cont{
  margin-left: 80px;
}
.child-sub-cont>button{
  pad: 250px;
}
.sect-cont{
  text-align: center;
}

.input{
  height: 50px;
  width: 200px;
}
button:hover{
  background-color: lawngreen;
}
.nav-but{
  color: black;
}
.nav-but:hover{
  color: springgreen;
}
.quiz{
  color: white;
  background-color: black;
  text-align: center;
}
.foot{
  background-color: rgb(238, 255, 0);
}
.foot>h3{
  text-align: center;
}
.footer{
  display: flex;
 
}
.footer>div{
  margin-left: 250px;
}
.apple{
  margin: 300px;
  font-size: 50px;
}
.answer-butt{
  font-size: 100px;
}
.disabled{
  display: none;
}
.abled{
 display:none;
}
form{
  color: deepskyblue;
 padding: 300px;
 background-color: blue;
 
 border-radius: 30px;
}
input{
  width:200px ;
  height: 40px;
  border-color: brown;
  border-radius: 20px;
}
button{
  width: 70px;
  height: 45px;
}
.reg{
  margin-left: 500px;
  background-color: forestgreen;
  font: size 100px;
}
