
.app-cont {
  margin:0;
  font-family: Georgia, 'Times New Roman', Times, serif;
  background-color: rgb(239, 244, 245);
}
.nav-cont{
  background-color: rgb(93, 93, 89);
  display:flex;
  text-decoration: underline;
  border-bottom: 1px black solid;
}
.nav-but{
  margin-left: 200px;
  padding:50px
}
.nav-cont>h1{
  margin-left: 20px;
}
.nav-cont>img{
  height: 100px;
}
.nav-cont>h1>span{
  color:crimson;
  text-decoration: overline;
}
.head-cont{
  margin-top:50px

}
.head-cont>h1{
  text-align: center;
}
.head-cont>p{
 
  margin:10px;
  background-color:rgb(238, 244, 245);
}

.sub-head-cont{
  display:flex;
  
}

.child-sub-cont{
  
  margin-left: 80px;
}
.child-sub-cont>button{
  pad: 250px;
}
.sect-cont{
  text-align: center;
}

.input{
  height: 50px;
  width: 200px;
}
button:hover{
  background-color: lawngreen;
}
.nav-but{
  color: black;
}
.nav-but:hover{
  color: springgreen;
}
.quiz{
  color: white;
  background-color: black;
  text-align: center;
}
.foot{
  background-color: rgb(253, 251, 251);
}
.foot>h3{
  text-align: center;
}
.footer{
  display: flex;
}
.footer>div{
  margin-left: 250px;
}
.apple{
  margin: 300px;
  font-size: 50px;
}
.answer-butt{
  font-size: 100px;
}
.disabled{
  display: none;
}
.abled{
 display:none;
}
.form1{
  color: deepskyblue;
 padding: 200px;
 margin-right: 600px;
 margin-left: 600px;
 background-color: blue;
 border-radius: 200px;
}
input{
  width:200px ;
  height: 40px;
  border-color: brown;
  border-radius: 20px;
}
/* button{
  width: 70px;
  height: 45px;
  color: darkgreen;
} */
.reg{
  margin-left: 200px;
  background-color: forestgreen;
  padding: 30px;

}
.coni1{
  margin-top: 10px;
  margin-bottom: 10px;
}
.login-but{
  background-color:darkgreen;
  border: 1px darkgreen;
  border-radius: 10px;
  padding: 20px;
}
.welcome{
  margin-left: 650px;
}
.regi{
  margin: 200px;
  margin-right: 500px;
  color: deepskyblue;
  padding: 150px;
  background-color: rgba(0, 0, 255, 0.611);
  border-radius: 800px;
  
}
.smt{
  margin-top: 50px;
  background-color: darkgreen;
}
.form2{
  color: deepskyblue;
 padding: 150px;
 background-color: blue;
 border-radius: 800px;
}
.coni2{
  margin-bottom: 5px;
}
.but{
  background-color: darkgreen;
}
.head-but{
  padding:50px;
  margin-top: 50px;
  border-radius: 100px;
}